{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} HowTo Page{% endblock %}

{% block body_block %}

<link href="{% static 'css/helpFormat.css' %}" rel="stylesheet">

<h1>How to play</h1>


You have started on day one of the zombie apocalypse. Your goal is to survive for as

many days as possible.

<p>You start off alone, with 3 units of food and 2 units of ammunition.</p>

<p>You enter a street. A street contains a number of houses, your options are:</p>

<p class="indent">(1) you can choose which house you enter</p>

<p>You enter a house.  A house contains a number of rooms, your options are:</p>

<p class="indent">(1) enter room,</p>

<p class="indent">(2) move to next room,</p>

<p class="indent">(3) leave house</p>

<p>A room may contain other survivors to join your party, zombies to fight, food and ammunition, your options are:</p>

<p class="indent">(1) search room,</p>

<p class="indent">(2) leave room,</p>

<p class="indent">(3) if zombies are present, you can fight or run.</p>

<p class="indent2">a. if you run, you leave the house and return to the street</p>

<p class="indent2">b. if you fight, you might lose the fight and some of your party members, or

win, in which case you claim whatever is in the room such as survivors, food or ammo</p>


<p>During a day, you have a limited amount of time. Each action costs time and the day ends

when you run out of time. At the end of the day food will be used depending on the size of the party. If there is not enough

food, then some of your party members might leave. Party size and food is updated, then you

start the next day.</p>

<p>The game mechanic for win/loss is based on the number of zombies, the

amount of ammo and the size of the party.</p>

{% endblock %}
