{% extends 'base.html' %}
{% load staticfiles %}
{% load gravatar %}
{% block title %} Welcome to Zombie Game{% endblock %}

{% block include %}
	<link href="{% static 'css/basic_format.css' %}" rel="stylesheet">
 	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
	<link href="{% static 'css/tables.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            {% if user_login %}
                <p><a href="/user/{{user}}">{{user.email|gravatar:100}}</a><a class="redLink" href="/Zombies/user/{{user}}">Your Profile</a></p>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Friend Requests</h1>
                    </div>
                </div>
                {% if friend_requests %}
                    <table>
                        {% for friend in friend_requests %}
                            <tr>
                                <td><a href="/user/{{friend}}">{{friend.email|gravatar:60}}</a></td>
                                <td><a class="redLink" href="/Zombies/user/{{friend}}">{{friend}}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>You have no new friend requests, search for new friends below!</p>
                {% endif %}
                <form id="search_form" method="post" action="">
                    {% csrf_token %}
                    {{ aform }}
                    <input class="btn btn-danger" type="submit" name="submit" value="Search"/>
                </form>
	    {% else %}
	    {% endif %}
			
		</div>
    	<div class = "col-xs-2 col-xs-offset-2 text-center">
        <div class="page-header">
            <h2 class="text-danger text-center"> Welcome to ZOMBIES </h2>
		</div>
    	</div>
    
    {% if user_login %}
        <div class="col-md-offset-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Friend Leaderboard</h3>
                </div>
            </div>


            <div>
                {% if friends_board %}

                    <table class="table table-bordered">
                        <thead>
                            <th> </th>
                            <th>Username</th>
                            <th># of Kills</th>
                        </thead>
                        <tbody>
                            {% for friend in friends_board %}
                                <tr>
                                    <td> </td>
                                    <td><a class="redLink" href=/Zombies/user/{{ friend.user.username }}/> {{ friend.user }}</a></td>
                                    <td>{{ friend.most_kills }} kills</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <strong> --     -- </strong>
                {% endif %}
            </div>



			<div class="col-md-offset-0">
        		<div class="panel panel-primary">
            		<div class="panel-heading">
                	<h3 class="panel-title">Most Kills</h3>
	    			</div>
				</div>
				<div>
            	{% if kills_board %}

                <table class="table table-bordered">
                    <thead>
                        <th> </th>
						<th>Username</th>
                        <th># of Kills</th>
		    		</thead>
		   			<tbody>
		    		{% for kills in kills_board %}
                        <tr>
                            <td> </td>
                            <td><a class="redLink" href=/Zombies/user/{{ kills.user.username }}/> {{ kills.user }}</a></td>
			    			<td>{{ kills.most_kills }} kills</td>
						</tr>
					 {% endfor %}
		    		</tbody>
                </table>
	    			{% else %}
						<strong> --     -- </strong>
					{% endif %}
        		</div>
			</div>
		</div>
        {% endif %}
	</div>

	<div class = "row">

        <div class="col-xs-2 col-xs-offset-5 text-center">

			<div class="btn-group-vertical btn-block">
				{% if user.is_authenticated %}
				<a class="btn btn-block btn-xlarge" href="/start">Play</a>
				{% else %}
				<a class="btn btn-block btn-xlarge" href="/accounts/login">Play</a>
				{% endif %}
                <a class="btn btn-block btn-xlarge" href="/Zombies/help">Help</a>
			</div>
		</div>


    	<div class="col-xs-offset-10">
			<div class="panel panel-primary">
		 		<div class="panel-heading">
                	<h3 class="panel-title">Most Days Survived</h3>
				</div>
			</div>
			<div>
            {% if survival_board %}
                <table class="table table-bordered numbered">
		    <thead>
                        <th> </th>
                        <th>Username</th>
			<th># of Days Survived</th>
		    </thead>
		    <tbody>
                        {% for days in survival_board %}
			    <tr>
                                <td> </td>
                                <td><a class="redLink" href=/Zombies/user/{{ days.user.username }}/> {{ days.user }}</a></td>
				<td>{{ days.most_days_survived }} days</td>
			    </tr>
			{% endfor %}
                    </tbody>
                </table>
	    	{% else %}
                <strong> --     -- </strong>
	    	{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
