{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Welcome to Zombie Game{% endblock %}

{% block include %}
 	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
	<link href="{% static 'css/tables.css' %}" rel="stylesheet">

{% endblock %}

<style>
	body{
    background-image:url('../../static/images/background.jpg')
	}
</style>

{% block body_block %}



<div class="container-fluid">


	<div class="row">

		<div class="col-md-3">
			{% if user.is_authenticated %}
				<p>Welcome {{ user.username }}, view your profile <a href=/Zombies/user/{{ user.username }}/>here</a>! </p>
				<a href="{% url 'auth_logout' %}?next=/Zombies/">Log Out</a>

			{% else %}
				<p><a href="{% url 'auth_login' %}">LOGIN</a>  / <a href="{% url 'registration_register' %}">SIGN UP</a></p>
			{% endif %}
		</div>
		<div class = "col-md-2 col-xs-offset-2">
			<h1 class="text-danger"> Zombie Game </h1>

		</div>

		<div class="col-md-offset-10">

			<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Most Kills</h3>
			</div>
			</div>
			<div>
				{% if kills_board %}
				<table class="table table-bordered">
					<thead>
						<th> </th>
						<th>Username</th>
						<th># of Kills</th>
					</thead>
					<tbody>
						{% for kills in kills_board %}
						<tr>
							<td> </td>
							<td>{{ kills.user }}</td>
							<td>{{ kills.most_kills }} kills</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
					<strong> --     -- </strong>
				{% endif %}
			</div>
		</div>
	</div>

	<div class = "row">
		<div class = "col-md-4 col-xs-offset-4">
		<div class="btn-group-vertical btn-group-lg">
				{% if user.is_authenticated %}
					<a href="{% url 'start' %}" class="btn btn-primary" role="button" style="height:100px;width:400px">Play</a>
					<a href="{% url 'leaderboards' %}" class="btn btn-primary" role="button" style="height:100px;width:400px">Leaderboards</a>
				{% else %}
					<a href="{% url 'auth_login' %}" class="btn btn-primary" role="button" style="height:100px;width:400px">Play</a>
					<a href="{% url 'leaderboards' %}" class="btn btn-primary" role="button" style="height:100px;width:400px">Leaderboards</a>
				{% endif %}
		</div>
		</div>
		<div class="col-md-offset-10">

			<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Most Days Survived</h3>
			</div>
			</div>
			<div>
				{% if survival_board %}

				<table class="table table-bordered numbered">
					<thead>
						<th> </th>
						<th>Username</th>
						<th># of Days Survived</th>
					</thead>
					<tbody>
						{% for days in survival_board %}
						<tr>

							<td> </td>

							<td>{{ days.user }}</td>
							<td>{{ days.most_days_survived }} days</td>
						</tr>
						{% endfor %}
					</tbody>

				</table>
				{% else %}
					<strong> --     -- </strong>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
