{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Leaderboards{% endblock %}

{% block include %}
 	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
	<link href="{% static 'css/rowNumbers.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

{% block body_block %}



<div class="container-fluid">
    <div class="row">
        <h2>Leaderboards</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#kills">KILLS</a></li>
            <li><a data-toggle="tab" href="#days">DAYS SURVIVED</a></li>
            <li><a data-toggle="tab" href="#people">PARTY SIZE</a></li>
        </ul>
        <br />
    </div>

    <div class="row">

        <div class="tab-content">
            <div id="kills" class="tab-pane fade in active">
                <div class="col-xs-1">
                 <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a data-toggle="tab" href="#allTimeKills">All Time</a></li>
                    <li ><a data-toggle="tab" href="#oneGameKills">One Game</a></li>
                 </ul>
                </div>
                <div class="col-xs-11">
                 <div class="tab-content">
                     <div id="allTimeKills" class="tab-pane fade in active">
                         {% if allKills %}
                         <table class="table table-bordered">
                             <thead>
                                <th> </th>
                                <th>Username</th>
                                <th># of Kills</th>
                             </thead>
                             <tbody>
                                {% for k in allKills %}
                                <tr>
                                    <td> </td>
                                    <td>{{ k.user }}</td>
                                    {% if k.kills_all_time == 1 %}
                                        <td>{{ k.kills_all_time }} kill</td>
                                    {% else %}
                                         <td>{{ k.kills_all_time }} kills</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                         {% else %}
                            <strong> --     -- </strong>
                         {% endif %}
                     </div>
                     <div id="oneGameKills" class="tab-pane fade">
                         {% if kills %}
                         <table class="table table-bordered">
                             <thead>
                                <th> </th>
                                <th>Username</th>
                                <th># of Kills</th>
                             </thead>
                             <tbody>
                                {% for k in kills %}
                                <tr>
                                    <td> </td>
                                    <td>{{ k.user }}</td>
                                    {% if k.most_kills == 1 %}
                                        <td>{{ k.most_kills }} kill</td>
                                    {% else %}
                                         <td>{{ k.most_kills }} kills</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <strong> --     -- </strong>
                        {% endif %}
                     </div>
                </div>
                </div>
            </div>
            <div id="days" class="tab-pane fade">
                 <div class="col-xs-1">
                 <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a data-toggle="tab" href="#allTimeDays">All Time</a></li>
                    <li ><a data-toggle="tab" href="#oneGameDays">One Game</a></li>
                 </ul>
                </div>
                <div class="col-xs-11">
                 <div class="tab-content">
                     <div id="allTimeDays" class="tab-pane fade in active">
                         {% if allDays %}
                         <table class="table table-bordered">
                             <thead>
                                <th> </th>
                                <th>Username</th>
                                <th># of Days Survived</th>
                             </thead>
                             <tbody>
                                {% for d in allDays %}
                                <tr>
                                    <td> </td>
                                    <td>{{ d.user }}</td>
                                    {% if d.days_all_time == 1 %}
                                        <td>{{ d.days_all_time }} day</td>
                                    {% else %}
                                         <td>{{ d.days_all_time }} days</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                         {% else %}
                            <strong> --     -- </strong>
                         {% endif %}
                     </div>
                     <div id="oneGameDays" class="tab-pane fade">
                         {% if kills %}
                         <table class="table table-bordered">
                             <thead>
                                <th> </th>
                                <th>Username</th>
                                <th># of Days Survived</th>
                             </thead>
                             <tbody>
                                {% for d in days %}
                                <tr>
                                    <td> </td>
                                    <td>{{ d.user }}</td>
                                    {% if d.most_days_survived == 1 %}
                                        <td>{{ d.most_days_survived }} day</td>
                                    {% else %}
                                         <td>{{ d.most_days_survived }} days</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <strong> --     -- </strong>
                        {% endif %}
                     </div>
                </div>
                </div>
            </div>
            <div id="people" class="tab-pane fade">
                <div class="col-xs-1">
                 <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a data-toggle="tab" href="#allTimePeople">All Time</a></li>
                    <li ><a data-toggle="tab" href="#oneGamePeople">One Game</a></li>
                 </ul>
                </div>
                <div class="col-xs-11">
                 <div class="tab-content">
                     <div id="allTimePeople" class="tab-pane fade in active">
                         {% if allKills %}
                         <table class="table table-bordered">
                             <thead>
                                <th> </th>
                                <th>Username</th>
                                <th>People in Party</th>
                             </thead>
                             <tbody>
                                {% for p in allPeople %}
                                <tr>
                                    <td> </td>
                                    <td>{{ p.user }}</td>
                                    {% if p.people_all_time == 1 %}
                                    <td>{{ p.people_all_time }} person</td>
                                    {% else %}
                                    <td>{{ p.people_all_time }} people</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                         {% else %}
                            <strong> --     -- </strong>
                         {% endif %}
                     </div>
                     <div id="oneGamePeople" class="tab-pane fade">
                         {% if kills %}
                         <table class="table table-bordered">
                             <thead>
                                <th> </th>
                                <th>Username</th>
                                <th>People in Party</th>
                             </thead>
                             <tbody>
                                {% for p in people %}
                                <tr>
                                    <td> </td>
                                    <td>{{ p.user }}</td>
                                    {% if p.most_people == 1 %}
                                    <td>{{ p.most_people }} person</td>
                                    {% else %}
                                    <td>{{ p.most_people}} people</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <strong> --     -- </strong>
                        {% endif %}
                     </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}