{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Play the Zombie Game{% endblock %}


{% block body_block %}

<link href="{% static 'css/basic_format.css' %}" rel="stylesheet">
	
<a href = "{% url 'newGame' %}"> New Game <a/><br/>
{% if game_over %}
    <h1>GAME OVER </h1>
{% else %}
    {% if update_state.food %}
        {{update_state.food}}
    {% endif %}
    {{game_state}}
    {% if street %}
        <h3> Player Stats </h3>
        Party:{{party}}, Food:{{food}}, Ammo:{{ammo}}, Kills:{{kills}}, Day:{{days}}


        <h3> You are in {{street}}</h3>
        <h4> {{turn_options}}</h4>
        {% for house in houseList %}
            <a href = "/Zombies/turn/ENTER/0"> Enter {{house}}<br/> </a>
         {% endfor %}
             
    {% elif house %}
        <h3> Player Stats </h3>
         Party:{{party}}, Food:{{food}}, Ammo:{{ammo}}, Kills:{{kills}}, Day:{{days}}
        <h3> You entered the House </h3>
        {{current_house}}<br/>
        {{turn_options}}<br/>
        {% for room in roomList %}
            <a href = "/Zombies/turn/SEARCH/room"> SEARCH {{room}}<br/><a/>
            
            
        {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}