{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Play the Zombie Game{% endblock %}


{% block body_block %}

<link href="{% static 'css/basic_format.css' %}" rel="stylesheet">
	
<a class="btn btn-danger btn-lg" href = "{% url 'newGame' %}">Start a new game!</a><br/>
{% if game_over %}
    <h1>GAME OVER </h1>
{% elif day_end %}
<a class="redLink" href = "/Zombies/start"> Start day {{days}}<br/></a>

    
{% else %}
    {% if update_state.food %}
        You gained {{update_state.food }} food!<br/>
    {% endif %}
    {% if update_state.ammo %}
        You found {{update_state.ammo}} units of ammo<br/>
    {% endif %}
    {% if update_state.party %}
        {{ update_state.party }} joined your party!<br/>
    {% endif %}
    {% if update_state.kills %}
        You killed {{ update_state.kills}}<br/>
    {% endif %}
    <br/>{{game_state}}
    {% if street %}
        <h3> Player Stats </h3>
        Party:{{party}}, Food:{{food}}, Ammo:{{ammo}}, Kills:{{kills}}, Day:{{days}}, Daytime remaining:{{time_left}}


        <h3> You are in {{street}}</h3>
        <h4> {{turn_options}}</h4>
        <h3> You are in front of a house</h3>
        <h3> {{ current_house }} </h3>
        {% for number,house in houses %}
           
            <a class="redLink" href =  "/Zombies/turn/MOVE/{{number}}"> Move to house {{number}} <br/> </a>
        {% endfor %}
        <a class="redLink" href = "/Zombies/turn/ENTER/0"> Enter House<br/></a>
        <a class="redLink" href = "/Zombies/turn/WAIT/0">WAIT</a><br />
    {% elif house %}
        <h3> Player Stats </h3>
         Party:{{party}}, Food:{{food}}, Ammo:{{ammo}}, Kills:{{kills}}, Day:{{days}}, Daytime remaining:{{time_left}}
        <h3> You entered the House </h3>
        {{current_house}}<br/>
        {{turn_options}}<br/>
        {% for number,room in rooms %}
            <a class="redLink" href = "/Zombies/turn/SEARCH/{{number}}/"> Search room number {{number}} <br/></a>
        {% endfor %}
        <a class="redLink" href = "/Zombies/turn/EXIT/0"> EXIT <br /> </a>
        <a class="redLink" href = "/Zombies/turn/WAIT/0">WAIT</a><br />
    {% elif zombie %}
        <h1>There be a zombie</h1></br>
        <h1>There are {{zombies}} Zombies attacking you! </h1>
        <h3>Party:{{party}}, Food:{{food}}, Ammo:{{ammo}}, Kills:{{kills}}, Day:{{days}}, Daytime remaining:{{time_left}}</h3>
        <h3>Do you want to:</h3></br>
        <a class="redLink" href = "/Zombies/turn/FIGHT/0"> FIGHT </a><br />
        <a class="redLink" href = "/Zombies/turn/RUN/0"> RUN </a><br />
        <a class="redLink" href = "/Zombies/turn/WAIT/0">WAIT</a><br />
        {{turn_options}}
    {% endif %}
{% endif %}
{% endblock %}