<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}
{% load gravatar %}
{% block title %} Welcome to Zombie Game{% endblock %}

{% block body_block %}
<style type="text/css">
table, th, td {
    border: 0px solid black;
}

th, td {
    padding: 5px;
}
    .alignleft
{
    float:left;
}
    .aligntextcentre
{
    text-align: center;
}
    .clear {
    clear: both;
}
    body {
    overflow: hidden;
}
    #container {
    border: 8px groove dimgrey;
    background: aliceblue;
    display:inline-block;

}


</style>
<div id = "container" >
    <h2 class = "aligntextcentre"> {{ user_username }}'s Profile </h2>
    <div id="userphoto"class = "alignleft">{{user_email|gravatar:150}}</div>
    
    {% if user.username != user_username %}
    <a href="/Zombies/add/">Add User</a>
    {% endif %}

    <section id="totalbadges">
	<table>
            <tr>
                <td><a href="#"><img src="/static/images/bronze.png"width="60" height="60"> </td>
		<td><a href="#"><img src="/static/images/silver.png"width="60" height="60"> </td>
		<td><a href="#"><img src="/static/images/gold.png"width="60" height="60"> </td>
  	    </tr>
            <tr>
		{% for level in user_badge_levels %}
			<td>	{{level}}</td>
		{% endfor %}
	    </tr>
	</table>
	Total Badges:  {{user_badge_count}}
    </section>

    <select size="10" style="width:400px">
        <option value="1">Games Played: {{ user_games_played }} </option>
        <option value="2">Total Kills: {{ user_all_kills }} </option>
        <option value="3">Total Days: {{ user_all_days }}  </option>
        <option value="4">Total People: {{ user_all_people }}</option>
        <option value="5">Most Kills: {{ user_most_kills }} </option>
        <option value="6">Most Days: {{ user_most_days }} </option>
        <option value="7">Most People: {{ user_most_people }} </option>
        <option value="8">Average Kills: {{ user_avg_kills }} </option>
        <option value="9">Average Days: {{ user_avg_days }} </option>
        <option value="10">Average People: {{ user_avg_people }} </option>


    </select>

    <section id="friends"class="clear">
        <p>Friends:</p>
        <table>
            	<tr>
			{% for friend in friends %}
				<td><a href="/user/{{friend}}"><img src="images/avatar.png" width="40" height="40">{{friend}}</a></td>
			{% endfor %}
  		</tr>
	</table>
     </section>

     <section id="badgeshow">
	<p>Badges{% if user.username == user_username %}<a href=/Zombies/edit/>(Edit)</a>{% endif %}:</p>
	{% if user_badge_count > 0  %}
		<table>
            		<tr>
				{% for badge in show_badges %}
					<td><a href="#"><img src="/static/images/{{badge.level}}.png" width="40" height="40">{{badge.name}}</a></td>
				{% endfor %}
  	   		</tr>
		</table>
	{% elif user_badge_count < 0 and user.username == user_username %}
		<p>Nothing here... Play the game to earn some badges</p>
	{% else %}
		<p>{{user_username}} has no badges!</p>
	{% endif %}
     </section>

</div>


{% endblock %}
