{% extends 'base.html' %}
{% load staticfiles %}
{% load gravatar %}



{% block title %} {{ user_username }}{% endblock %}

{% block body_block %}

<link href="{% static 'css/basic_format.css' %}" rel="stylesheet">



<div class="container-fluid" >
	<div class = "row">
	
		<div class="col-xs-2">
			<div id="userphoto"class = "alignleft">{{user_email|gravatar:150}}</div>
		</div>
		<div class="col-xs-10">
			<div class="row">
				<h1 style="color:white"> {{ user_username }}'s Profile 
					{% if user.username != user_username %}
						<form id="add_user" method = "post" action = "/Zombies/user/{{user_username}}/">
						{% csrf_token %}
						{{ aform.as_p }}
						<input class="btn btn-danger" type="submit" name="submit" value="Add User" />
						</form>
			
					{% endif %}
					
				</h1>
			</div>
			<div class="row">
				<section id="totalbadges">
				<table>
				<tr>
					<td><a href="#"><img src="/static/images/bronze.png"width="60" height="60"> </td>
					<td><a href="#"><img src="/static/images/silver.png"width="60" height="60"> </td>
					<td><a href="#"><img src="/static/images/gold.png"width="60" height="60"> </td>
				</tr>
				<tr>
				{% for level in user_badge_levels %}
				<td>	{{level}}</td>
				{% endfor %}
				</tr>
				</table>
				Total Badges:  {{user_badge_count}}
				</section>
	
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title text-center">Stats</h2>
					<table class="table">
						<tr>
							<td>Games Played:</td>
							<td>{{ user_games_played }}</td>
						</tr>
						<tr>
							<td>Total Kills: </td>
							<td>{{ user_all_kills }} </td>
						</tr>
						<tr>
							<td>Total Days: </td>
							<td>{{ user_all_days }}</td>
						</tr>
						<tr>
							<td>Total People: </td>
							<td>{{ user_all_people }}</td>
						</tr>
						<tr>
							<td>Most Kills: </td>
							<td>{{ user_most_kills }} </td>
						</tr>
						<tr>
							<td>Most Days: </td>
							<td>{{ user_most_days }} </td>
						</tr>
						<tr>
							<td>Most People: </td>
							<td>{{ user_most_people }} </td>
						</tr>
						<tr>
							<td>Average Kills: </td>
							<td>{{ user_avg_kills }} </td>
						</tr>
						<tr>
							<td>Average Days: </td>
							<td>{{ user_avg_days }} </td>
						</tr>
						<tr>
							<td>Average People: </td>
							<td>{{ user_avg_people }} </td>
						</tr>
					</table>
				</div>
				
			</div>
		</div>
		
		<div class="col-xs-9">
		
			<div class="row">
			
				<section id="friends"class="clear">
					<h3 class="redHead" >Friends:</h3>
					<table>
						<tr>
						{% for friend in friends %}
							<td><a href="/user/{{friend}}">{{friend.email|gravatar:60}}<a class="redLink" href="/Zombies/user/{{friend}}">{{friend.username}}</a></td>
						{% endfor %}
						</tr>
					</table>
				</section>
			</div>
			
			<div class="row">
			
			<section id="badgeshow">
			<h3 class="redHead">Badges{% if user.username == user_username %}<a class="redLink" href=/Zombies/edit/>(Edit)</a>{% endif %}:</h3>
				{% if user_badge_count > 0  %}
				<table>
					<tr>
					{% for badge in show_badges %}
						<td><a class = "redLink"href="#"><img src="/static/images/{{badge.level}}.png" width="100" height="100">{{badge.name}}</a></td>
					{% endfor %}
					</tr>
				</table>
				{% elif user_badge_count <= 0 and user.username == user_username %}
				<p>Nothing here... Play the game to earn some badges</p>
				{% else %}
				<p>{{user_username}} has no badges!</p>
				{% endif %}
			</section>
			
			
			</div>
	
		</div>

    
	</div>
</div>


{% endblock %}
