<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Welcome to Zombie Game{% endblock %}

{% block body_block %}
<div class="container-fluid">


	<div class="row">
		<div class="col-md-3">
			{% if user.is_authenticated %}
				GRAVATAR STUFF CAN GO HERE
			{% else %}
				<p><a href="{% url 'login' %}">LOGIN</a>  / <a href="{% url 'register' %}">SIGN UP</a></p> 
			{% endif %}
		</div>
		<div class = "col-md-2 col-xs-offset-2">
			<h1 class="text-danger"> Welcome to {{user_username}}'s profile. </h1>
			<h2 class="text-danger"> email:{{user_email}}//games played:{{user_games_played}}//average days:{{user_avg_days}}//most days: {{user_most_days}}  </h2>
		</div>
	</div>


</div>
{% endblock %}
