body{
			color:white;
			background-image:url('../../static/images/background.jpg');
		}
a.redLink{
			color:#ff6600;
			text-decoration:underline;
		}
p{
			color:white;
		}
h3.redHead{
	
		color:#ff6600;
}
hr{
	color:white;
}
label{
	color:white;
}

a.btn-xlarge {
    padding: 18px 35px;
    font-size: 40px;
    line-height: normal;
	border-radius: 8px;
	background-color: #820011;
	color:white;
	border-color: black;
    }

